#wallpaper{
    background-image: -webkit-linear-gradient(0deg, #000000 0%, #FF384B 100%);
    color: white !important;
}

#intro{
    color: white !important;
    padding-top: 10rem;
}

body{
    background-color: black !important;
}